:root {
  --color-primary: #6a11cb;
  --color-blue: #2575fc;
  --color-blue-1: #0063fb;
  --color-blue-dark: #08013c;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-dark-4: #bfbfbf;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-3);
  --line-primary: 2px solid var(--color-primary); }

* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-grey-light-3); }

.fixed {
  z-index: 30;
  position: fixed;
  border-bottom: 0;
  top: 0;
  color: var(--color-grey-dark-1);
  transition: 450ms ease-out;
  background-color: var(--color-grey-light-3);
  -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  width: 100%;
  border-color: rgba(0, 0, 0, 0.05); }

.intro-container {
  background-image: url("../img/header_img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .intro-container {
      height: 80vh; } }
  @media only screen and (max-width: 37.5em) {
    .intro-container {
      height: 70vh; } }
  @media only screen and (max-width: 25em) {
    .intro-container {
      height: 60vh; } }
  .intro-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(to right, var(--color-primary) 0%, var(--color-blue) 100%); }
  .intro-container__description {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    z-index: 20;
    max-width: 150rem; }
    @media only screen and (max-width: 68.75em) {
      .intro-container__description {
        width: 100rem; } }
    @media only screen and (max-width: 37.5em) {
      .intro-container__description {
        width: 50rem; } }
  .intro-container__name {
    text-align: center;
    font-size: 3.5rem; }
  .intro-container__title {
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 600; }
    @media only screen and (max-width: 68.75em) {
      .intro-container__title {
        text-align: center; } }
    @media only screen and (max-width: 56.25em) {
      .intro-container__title {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .intro-container__title span {
        display: block; } }
  @media only screen and (max-width: 56.25em) {
    .intro-container__icons {
      margin-right: 5rem; } }
  @media only screen and (max-width: 25em) {
    .intro-container__icons {
      margin-right: 4rem; } }
  .intro-container__intro {
    margin-top: 1rem;
    font-size: 2rem; }

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 15;
  margin-top: 3rem; }
  .contact-container .social-link:link,
  .contact-container .social-link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    margin-left: 4rem; }
  .contact-container .icon {
    width: 40px; }
    @media only screen and (max-width: 37.5em) {
      .contact-container .icon {
        width: 30px; } }

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .about-me {
      padding: 0 1.5rem 0 1.5rem; } }
  .about-me__heading {
    margin-top: 5rem;
    font-size: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .about-me__heading {
        font-size: 2.3rem; } }
    @media only screen and (max-width: 37.5em) {
      .about-me__heading {
        font-size: 2.1rem; } }
  .about-me__description {
    margin-top: 2rem;
    max-width: 80rem;
    line-height: 1.8;
    font-size: 2rem;
    text-align: justify; }
    .about-me__description p:last-child {
      margin-top: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .about-me__description {
        margin-left: 1rem;
        margin-right: 1rem;
        line-height: 1.5; } }
    @media only screen and (max-width: 25em) {
      .about-me__description {
        max-width: 100rem; } }

.skills {
  margin: 5rem auto;
  padding-bottom: 2rem;
  max-width: 100rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  background-color: var(--color-blue-dark);
  display: flex;
  justify-content: space-evenly; }
  @media only screen and (max-width: 56.25em) {
    .skills {
      flex-direction: column;
      align-items: center;
      border-radius: 0; } }
  @media only screen and (max-width: 37.5em) {
    .skills {
      margin: 4rem 0 0 0; } }
  .skills ul {
    list-style: none;
    margin-top: 1.5rem; }
  .skills__heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-blue-1);
    margin-top: 1rem; }
    @media only screen and (max-width: 68.75em) {
      .skills__heading {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .skills__heading {
        font-size: 3rem; } }
  .skills__list-item {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: var(--color-grey-dark-4); }
    @media only screen and (max-width: 68.75em) {
      .skills__list-item {
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .skills__list-item {
        font-size: 2rem; } }
  @media only screen and (max-width: 56.25em) {
    .skills__frontend {
      border-bottom: 1px solid white;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .skills__backend {
      border-bottom: 1px solid white;
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .skills__tools {
      margin-right: 4.5rem; } }

.projects__heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding-top: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .projects__heading {
      padding-top: 4rem; } }

.projects__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .projects__container {
      margin-top: 3rem; } }

.projects__card {
  max-width: 35rem;
  border-radius: 1.5rem;
  margin-top: 4rem;
  position: relative;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 -0.5rem 10px rgba(0, 0, 0, 0.1); }
  .projects__card::before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.5rem;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background-color: black;
    opacity: 0.4; }

.projects__img {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  transform: scale(1);
  overflow: hidden;
  transition: all 0.45s ease-in-out; }

.projects__description {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.projects__name {
  font-size: 2rem; }

.projects__detail {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 1rem 0 1rem; }

.projects__link:link, .projects__link:visited {
  color: var(--color-grey-light-1);
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 18rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  padding: 1rem 1rem;
  background-image: linear-gradient(to right, var(--color-primary) 0%, var(--color-blue) 100%);
  transition: all 1s ease-in; }
  @media only screen and (max-width: 37.5em) {
    .projects__link:link, .projects__link:visited {
      font-size: 1.3rem; } }
  .projects__link:link:hover, .projects__link:visited:hover {
    background-image: linear-gradient(to right, var(--color-blue) 0%, var(--color-primary) 100%); }

.projects__card:hover .overlay {
  opacity: 1; }

.projects__card:hover .projects__description {
  display: flex;
  z-index: 10; }

.projects__card:hover .projects__img {
  transform: scale(1.2); }

.projects__card .overlay {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-blue-dark);
  opacity: 0;
  border-radius: 1.5rem;
  transition: all 0.45s ease-in-out; }

.button-container {
  display: flex;
  margin-top: 2rem; }

.inline-button:link,
.inline-button:visited {
  color: var(--color-grey-dark-1);
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  display: inline-block;
  width: 18rem;
  margin: 2rem auto;
  padding: 1rem 3rem;
  transition: all 0.5s ease-in-out; }
  .inline-button:link:hover,
  .inline-button:visited:hover {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1); }

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.footer__link {
  color: var(--color-grey-light-1); }
  @media only screen and (max-width: 25em) {
    .footer__link {
      font-size: 3rem !important; } }

.footer__icons {
  margin-right: 3rem; }

.footer__description {
  display: block;
  margin-top: 2rem;
  font-size: 2rem; }
  @media only screen and (max-width: 25em) {
    .footer__description {
      font-size: 1.5rem; } }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 6;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  @media only screen and (max-width: 25em) {
    .header {
      height: auto; } }

#particles-js {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%; }

.main {
  position: relative; }

.about-section {
  width: 100%;
  border-bottom: var(--line);
  box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: var(--color-grey-dark-1); }

.projects {
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 8rem;
  background-color: #fff;
  color: var(--color-grey-dark-1);
  border-bottom: var(--line);
  box-shadow: 0px -8px 10px 0px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 37.5em) {
    .projects {
      padding-bottom: 4rem; } }

.footer {
  color: var(--color-grey-light-1);
  background-color: var(--color-blue-dark);
  height: 30rem; }

.logo:link,
.logo:visited {
  font-size: 4rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: color 0.5s ease-in-out; }
  .logo:link:hover,
  .logo:visited:hover {
    color: var(--color-blue);
    cursor: pointer; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav__logo {
    margin-right: auto;
    margin-left: 4rem;
    color: inherit; }
    @media only screen and (max-width: 25em) {
      .nav__logo {
        margin-left: 2rem; } }
  .nav__list {
    list-style: none;
    margin-right: 4rem;
    justify-self: flex-end;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 25em) {
      .nav__list {
        margin-right: 0; } }
  .nav__list-item {
    display: block;
    padding-right: 3rem; }
    .nav__list-item a:link,
    .nav__list-item a:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: currentColor;
      font-size: 2rem; }
      @media only screen and (max-width: 75em) {
        .nav__list-item a:link,
        .nav__list-item a:visited {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 25em) {
        .nav__list-item a:link,
        .nav__list-item a:visited {
          font-size: 2rem; } }
      .nav__list-item a:link:hover,
      .nav__list-item a:visited:hover {
        color: var(--color-blue);
        cursor: pointer; }
