//Add this to header class when scrolled
.fixed {
  z-index: 30;
  position: fixed;
  border-bottom: 0;
  top: 0;
  color: var(--color-grey-dark-1);
  transition: 450ms ease-out;
  background-color: var(--color-grey-light-3);
  -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  width: 100%;
  border-color: rgba(0, 0, 0, 0.05);
}

/////INTRO ////////
.intro-container {
  background-image: url("../img/header_img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    height: 80vh;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: linear-gradient(
      to right,
      var(--color-primary) 0%,
      var(--color-blue) 100%
    );
  }

  &__description {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    z-index: 20;
    max-width: 150rem;

    @media only screen and (max-width: $bp-medium) {
      max-width: 250rem;
    }
  }

  &__name {
    font-size: 3rem;

    @media only screen and (max-width: $bp-medium) {
      text-align: center;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2.5rem;
    }
  }

  &__title {
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 600;

    @media only screen and (max-width: $bp-large) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 3rem;
      text-align: center;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2.5rem;
    }
  }

  &__intro {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

////CONTACT  CONTAINER////

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 15;
  margin-top: 2rem;

  .social-icons:link,
  .social-icons:visited {
    color: var(--color-grey-light-1);
    font-size: 3.5rem;
    text-decoration: none;
    text-align: center;
    margin-left: 4rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 4rem;
    }
  }
}

////ABOUT ME////
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    margin-top: 5rem;
    font-size: 3rem;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2rem;
    }
  }

  &__description {
    margin-top: 2rem;
    max-width: 80rem;
    line-height: 2;
    font-size: 2rem;

    @media only screen and (max-width: $bp-small) {
      margin-left: 0.5rem;
      margin-right: 1rem;
      text-align: justify;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.5rem;
      max-width: 100rem;
      margin-left: 0.5rem;
      margin-right: 1rem;
      text-align: justify;
    }
  }
}

/////SKILLS//////
.skills {
  margin: 5rem auto;
  padding-bottom: 2rem;
  max-width: 100rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  background-color: var(--color-blue-dark);

  display: flex;
  justify-content: space-evenly;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    align-items: center;
    border-radius: 0;
  }

  @media only screen and (max-width: $bp-small) {
    margin: 4rem 0 0 0;
  }

  ul {
    list-style: none;
    margin-top: 1.5rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-blue-1);
    margin-top: 1rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 3rem;
    }
  }

  &__list-item {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2;
    color: var(--color-grey-dark-4);

    @media only screen and (max-width: $bp-large) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
  }

  &__frontend {
    @media only screen and (max-width: $bp-medium) {
      border-bottom: 1px solid white;
      margin-bottom: 1.5rem;
    }
  }

  &__backend {
    @media only screen and (max-width: $bp-medium) {
      border-bottom: 1px solid white;
      margin-bottom: 1.5rem;
    }
  }

  &__tools {
    @media only screen and (max-width: $bp-medium) {
      margin-right: 4.5rem;
    }
  }
}

//////PROJECTS/////
.projects {
  &__heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 3rem;

    @media only screen and (max-width: $bp-medium) {
      padding-top: 4rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 3rem;
    }
  }

  &__card {
    max-width: 35rem;
    border-radius: 1.5rem;
    margin-top: 2.5rem;
    position: relative;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 -0.5rem 10px rgba(0, 0, 0, 0.1);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -0.5rem;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
      background-color: black;
      opacity: 0.4;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    transform: scale(1);
    overflow: hidden;
    transition: all 0.45s ease-in-out;
  }

  &__description {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__name {
    font-size: 2rem;
  }

  &__detail {
    font-size: 1.5rem;
    text-align: center;
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 18rem;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
    background-image: linear-gradient(
      to right,
      var(--color-primary) 0%,
      var(--color-blue) 100%
    );
    transition: all 1s ease-in;

    &:hover {
      background-image: linear-gradient(
        to right,
        var(--color-blue) 0%,
        var(--color-primary) 100%
      );
    }
  }

  //when hover on card show overlay
  &__card:hover .overlay {
    opacity: 1;
  }

  //when hover on card show project description
  &__card:hover .projects__description {
    display: flex;
    z-index: 10;
  }

  &__card:hover .projects__img {
    transform: scale(1.2);
  }

  &__card .overlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue-dark);
    opacity: 0;
    border-radius: 1.5rem;
    transition: all 0.45s ease-in-out;
  }
}

/////INLINE BUTTON///
.button-container {
  display: flex;
  margin-top: 2rem;
}

.inline-button:link,
.inline-button:visited {
  color: var(--color-grey-dark-1);
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid var(--color-primary);
  background-color: transparent;
  display: inline-block;
  width: 18rem;
  margin: 2rem auto;
  padding: 1rem 3rem;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
  }
}

/////FOOOTER//////

.footer {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__link {
    color: var(--color-grey-light-1);

    @media only screen and (max-width: $bp-smallest) {
      font-size: 3rem !important;
    }
  }

  &__description {
    display: block;
    margin-top: 2rem;
    font-size: 2rem;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.5rem;
    }
  }
}
